* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.container-custom{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
/* Header */
/* Navbar */
nav {
  width: 100%;
  height: 80px;
  position: sticky;
}

/* Navbar */

#sidebar {
  width: 0;
  height: 0;
  color: white;
  transition: 1s;
}

.sidebar-content {
  width: 100%;
  text-align: center;
  transition: 1s;
  display: none;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar-items li {
  list-style-type: none;
  height: 50px;
  transition: .5s;

  &:hover {
    background-color: whitesmoke;

    >a {
      color: black;
    }
  }
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  text-align: start;
}

.button {
  height: 50px;
  width: 80px;
  transition: .5s;
}

.header-content {
  width: 100%;
  height: auto;
}

.header-img{
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/images/651d2685e56bf79310c86f31_Hero\ Image\ 1\ -\ Audial\ -\ Dark\ Mode\ Webflow\ E-Commerce\ Podcast\ Template.jpg);
}
.header-text{
  font-weight: bold;
  color: grey;
  font-size: 18px;
}

/* End Header */